.zone {
    color: #ffffff;
    font-size: 2em;
    border-radius: 4px;
}

.zone:hover {
    -webkit-box-shadow: rgba(0,0,0,0.8);
    -moz-box-shadow: rgba(0,0,0,0.8);
    -o-box-shadow: rgba(0,0,0,0.8);
    box-shadow: rgba(0,0,0,0.8);
}

.main-nav {
    font-size: 0,7em;
    margin: 0;
    list-style: none;
    display: flex;
}

a:hover {
    color: #686de0;
}

@media only screen and (max-width: 600px){
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #2d242f;
    text-decoration: none;
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.pink {
    background:#e969c3;
    opacity: 0.5;
}

.slider{
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.slide {
    position: relative;
    border: 1px solid blue;
    min-width: 100%;
    height: 80%;
    transition: 0.5s;
}

#goLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: #e67bc5;
}

#goRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: #f351c2;
}

.cardbajar {
    margin-top: 80px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.grid-wrapper {
    background-color: #b9a18f;
}

.card {
    border: 2px solid #eb87cd;
    background-color: #fccfee;
    margin: 50px;
}

.card > img {
    width: 100%;
    height: 250px;
}

.card h2 {
    color: #a5038a;
    font-size: 1.5rem;
}
.card p {
    font-size: 1rem;
    color: #dd20be;
}

.card > .text {
    padding: 0 20px 20px;
}

button {
    cursor: pointer;
    background: #e969c3;
    border: 0;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
}

.oscurecer {
    color: #000000;
}

.footer {
    background: #e969c3;
    border-top: 1px solid #d8cdcd;
    padding: 25px 0;
}

.footer blockquote {
    text-align: center;
    position: center;
    margin: 20px 0 20px 0;
}